body {
	background: #344C64;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}
a {
	text-decoration: none;
	color: black;
}
a:hover{
	color: white;
	background: #344C64;
}
@media (max-width: 800px){
	iframe {
		width: 250px;
	}
}
@media (max-width: 800px){
	#conteudo{
		flex-direction: column;
	}
}
#topo{
	background: #240750;
	width: 100%;
	height: 80px;
	text-align: center;
	color: #57A6A1;
	padding: 20px;

}
#container{
	margin: 0 auto;
	text-align: center;
}
#conteudo{
	background: #57A6A1;
	padding: 30px 20px;
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.video{
	display: column;
	justify-content: center;
	padding: 15px;
	width: 40%;
	border-bottom: 1px solid black;
	text-align: center;
}
#ws{
	display: flex;
	justify-content: center;
	align-items: center;
}
